<nz-drawer
  [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
  [nzMaskClosable]="true"
  [nzWidth]="480"
  [nzVisible]="visible"
  [nzPlacement]="drawerPlacement"
  nzTitle="Create"
  (nzOnClose)="close()">
  <form nz-form>
    <div nz-row nzGutter="24">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Name</nz-form-label>
          <nz-form-control>
            <input name="title" [(ngModel)]="title" nz-input placeholder="please enter user name"/>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="24">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Description</nz-form-label>
          <nz-form-control>
                <textarea
                  name="desciption"
                  [(ngModel)]="description"
                  nz-input
                  placeholder="please enter url description"
                  [nzAutosize]="{ minRows: 4, maxRows: 4 }"
                ></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzGutter="24">
      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label>Type</nz-form-label>
          <nz-form-control>
            <nz-select
              name="time"
              [(ngModel)]="currentSelectedTime"
              (ngModelChange)="provinceChange($event)"
              nzPlaceHolder="Please choose the type">
              <nz-option *ngFor="let time of times" nzLabel="{{time.title}}" nzValue="{{time.value}}"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label>DateTime</nz-form-label>
          <nz-form-control>
            <nz-date-picker name="due_date" [(ngModel)]="currentDate"
                            (ngModelChange)="onChangeDate($event)"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label>Type</nz-form-label>
          <nz-form-control>
            <nz-select

              name="energy"
              [(ngModel)]="currentEnergy"
              (ngModelChange)="provinceChange($event)"
              nzPlaceHolder="Please choose the type">
              <nz-option *ngFor="let energy of energies" nzLabel="{{energy.title}}"
                         nzValue="{{energy.value}}"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
  <div class="footer">
    <button type="button" (click)="close()" class="ant-btn" style="margin-right: 8px;"><span>Cancel</span></button>
    <button type="button" (click)="updateAllFields(currentTodoId,title, description, this.currentSelectedTime,
                                                    this.currentEnergy,this.currentDate, this.currentCompleted, this.currentIsFavorite)"
            class="ant-btn ant-btn-primary"><span>Save</span></button>
  </div>
</nz-drawer>

<div class="content">
  <div cdkDropList (cdkDropListDropped)="onDrop($event)">
    <div class="box" *ngFor="let todo of todos; let i = index" cdkDrag>
      <div class="todo-item">
                <i class="drag-icon"  nz-icon nzType="more" nzTheme="outline"></i>
        <i class="star-icon"
           (click)="favorite(todo.id, todo.title, todo.description, todo.time, todo.energy, todo.dueDate, todo.completed, todo.favorite,todo.action_id)"
           [class.active]="todo.favorite" nz-icon nzType="star" nzTheme="{{todo.favorite ? 'fill':'outline'}}"></i>
        <label
          (ngModelChange)="toggle(todo.id, todo.title, todo.description, todo.time, todo.energy, todo.dueDate, todo.completed, todo.favorite,todo.action_id)"
          nz-checkbox [(ngModel)]="todo.completed"></label>
        <div (click)="open(todo)" class="todo-title">{{todo.title}}</div>
      </div>
      <div class="divider"></div>
    </div>
  </div>

</div>




