.content {
  padding: 24px;
}

.box {
  padding: 4px;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-top: 1px solid rgb(232, 232, 232);
  padding: 10px 16px;
  text-align: right;
  left: 0px;
  background: #fff;
}

.cdk-drop-dragging .cdk-drag {
  transition: transform 220ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 220ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  background-color: #2e8bff;
  opacity: 0.1;
}

[nz-checkbox] {
  zoom: 1.2;
}

[cdkDropList] {
  background-color: white;
}

.todo-item {
  display: flex;
  align-items: center;
  align-content: center;
}

.drag-icon {
  font-size: 20px;
  color: #9c9c9c;
  cursor: move;
  margin-right: 4px;
}

.star-icon {
  font-size: 20px;
  margin-right: 10px;
  color: #f2f2f2;
  cursor: pointer;
  transition: all 220ms;
}

.active {
  color: #FAD134;
}

.divider {
  border-top: 1px solid rgba(187, 187, 187, 0.27);
  margin-top: 8px;
  margin-bottom: 4px;
}

.todo-title {

  font-size: 17px;
  font-variant: tabular-nums;
  font-feature-settings: 'tnum';
  color: rgba(0, 0, 0, .65);
  list-style: none;
  line-height: unset;
  cursor: pointer;
  margin: 0;
  box-sizing: border-box;
  padding-right: 8px;
  padding-left: 8px;
}
