.parent {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  z-index: 2;
}


.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 48px;
  background-color: #2E88F7;
  color: white;
  padding-left: 12px;
  padding-top: 8px;
}

.leadings {
  display: flex;

}

.actions {
  display: flex;
  margin-right: 16px;
  color: #fff;
}

.leadings h2 {
  color: white;
  margin-right: 8px;
  padding-bottom: 8px;
}

[nz-dropdown] {
  background-color: transparent;
  color: white;
  border: none;
  margin-left: 120px;
  font-size: 15px;
}


button .add-circle-icon {
  opacity: 0.6;
}

.action-link {
  color: white;
  transition: all 180ms;
}

.action-link:hover {
  color: white;
  opacity: 0.7;
}

[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
  color: white;
}

.nig {
  margin-left: 48px;
  height: 32px;
}
