.sidebar {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100vh;
  box-shadow: 1px 1px #ececec;
}

.nav-items {
  display: flex;
  flex-direction: column;

}

.nav-item {
  margin-top: 8px;
  text-align: justify;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  transition: all 180ms;
}

.nav-item:hover {
  background-color: rgba(194, 223, 255, 0.16);

}

.active {
  background-color: rgba(194, 223, 255, 0.16);
  outline: none;
  border-left: 4px solid #2E88F7;
}

i {
  margin-right: 2px;
}

nz-collapse-panel {
  font-size: 16px;
}

